<div ng-controller="addCtrl">
    <h2>ADD FORM</h2>
    <div>
        <form ng-submit="addEntry()">
            <input type="text" name="employee_id" ng-model="employee_id" placeholder="Employee ID"><br>
            <input type="text" name="Emp_name" ng-model="Emp_name" placeholder="Name"><br>
            <input type="text" name="Emp_Designation" ng-model="Emp_Designation" placeholder="Designation"><br>
            <input type="text" name="Emp_Deparment" ng-model="Emp_Deparment" placeholder="Department"><br>
            <input type="text" name="Emp_Salary" ng-model="Emp_Salary" placeholder="Salary"><br>
            <input type="text" name="Emp_Location" ng-model="Emp_Location" placeholder="Location"><br>
            <button type="submit">ADD</button>
        </form>
    </div>
</div>
